{% autoescape off %}
Xin chào bạn,

Chúng tôi nhận được yêu cầu thay đổi mật khẩu từ địa chỉ email này. Để thay đổi mật khẩu của bạn, vui lòng bấm vào đường link dưới đây.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Đường link trên chỉ có thể sử dụng một lần. Nếu bạn muốn thay đổi mật khẩu một lần nữa, hãy vào lại website {{ protocol }}://{{domain}} và thực hiện một yêu cầu khác.

Trong trường hợp bạn quên tài khoản đăng nhập, đây là tài khoản đã dùng để đăng ký email này: {{ user.username }}

Nếu bạn không thực sự yêu cầu đổi mật khẩu, hãy cẩn thận vì có thể một ai khác đang cố gắng truy cập tài khoản của bạn. Vui lòng tăng cường thêm thông tin bảo mật!

Xin cảm ơn vì đã sử dụng dịch vụ của chúng tôi,

Đội ngũ Enational Library

{% endautoescape %}