.condition {
    position: relative;
    left: 0;
    top: auto;
    width: 100%;
    height: auto;
    padding-top: 15px;
    //min-height: 350px;
    overflow: hidden; 
    }
    @media only screen and (min-width: 768px) {
        .condition {
          position: relative;
          left: 0;
          height: auto;
          width: 100%;
          padding-top: 15px;
          //min-height: 350px; 
        } }